button {
  font-family: 'Oswald', sans-serif;
  height: 50px;
  min-width: 100px;
  margin: 20px;
  font-size: 1.5em;
  background-color: black;
  color: yellow;
  border: none;
  padding: 5px;
}

button:hover {
  opacity: .5;
}
