.App {
  text-align: center;
  background-color: #38AECC;
  display: flex;
  font-family: 'Oswald', sans-serif;

}

.scroll-wrapper {
  max-width: 25%;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: auto 0;
  font-size: -webkit-xxx-large;
}

.main-wrapper {
  min-width: 75%;
}
