.card{
  border: 1px black solid;
  min-height: 500px;
  width: 300px;
  margin: 20px;
  padding: 5px;
  background-color: #dbc3a3;
  color: #49311c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite {
  max-width: 33%;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}
